{% extends'base.html.twig' %}

{% block body %}
    <div class="container col-xs-offset-1 col-xs-2">
        <ul class="list-group">
            {% for unit in units %}
                <li class="list-group-item">
                    <a href="{{ path('show_unit', {'name': unit.name}) }}">{{ unit.name }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('unit_edit', {'name': unit.name}) }}" class="btn btn-xs btn-success pull-right">
                            <span class="fa fa-pencil"></span></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}