{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>Under Construction</h1>
            <p>Please keep checking back! I'm constantly working on adding new features. </p>
            <p><a class="btn btn-primary btn-lg" href="{{ path("homepage") }}" role="button">Home</a></p>
        </div>
    </div>
{% endblock %}